$static-size-1: 1px;
$static-size-2: 2px;
$static-size-4: 4px;
$static-size-8: 8px;
$static-size-12: 12px;
$static-size-14: 14px;
$static-size-16: 16px;
$static-size-18: 18px;
$static-size-24: 24px;
$static-size-32: 32px;
$static-size-40: 40px;
$static-size-48: 48px;
$static-size-56: 56px;
$static-size-60: 60px;
$static-size-64: 64px;
$static-size-72: 72px;
$static-size-84: 84px;
$static-size-96: 96px;

$static-size-112: 112px;
$static-size-120: 120px;
$static-size-128: 128px;
$static-size-136: 136px;
$static-size-144: 144px;
$static-size-152: 152px;
$static-size-160: 160px;
$static-size-168: 168px;
$static-size-176: 176px;
$static-size-184: 184px;
$static-size-192: 192px;
$static-size-200: 200px;
$static-size-208: 208px;
$static-size-216: 216px;
$static-size-224: 224px;
$static-size-232: 232px;
$static-size-240: 240px;
$static-size-248: 248px;
$static-size-256: 256px;
$static-size-264: 264px;
$static-size-272: 272px;
$static-size-280: 280px;
$static-size-288: 288px;
$static-size-296: 296px;
$static-size-304: 304px;
$static-size-312: 312px;
$static-size-320: 320px;
$static-size-328: 328px;
$static-size-336: 336px;
$static-size-344: 344px;
$static-size-352: 352px;
$static-size-360: 360px;
$static-size-368: 368px;
$static-size-376: 376px;
$static-size-384: 384px;
$static-size-392: 392px;
$static-size-400: 400px;
$static-size-408: 408px;
$static-size-416: 416px;
$static-size-424: 424px;
$static-size-432: 432px;
$static-size-440: 440px;
$static-size-448: 448px;
$static-size-456: 456px;
$static-size-464: 464px;
$static-size-472: 472px;
$static-size-480: 480px;
$static-size-488: 488px;
$static-size-496: 496px;
$static-size-504: 504px;
$static-size-512: 512px;
$static-size-520: 520px;
$static-size-528: 528px;
$static-size-536: 536px;
$static-size-544: 544px;
$static-size-552: 552px;
$static-size-560: 560px;
$static-size-568: 568px;
$static-size-576: 576px;
$static-size-584: 584px;
$static-size-592: 592px;
$static-size-600: 600px;
$static-size-608: 608px;
$static-size-616: 616px;
$static-size-624: 624px;
$static-size-632: 632px;
$static-size-640: 640px;
$static-size-648: 648px;
$static-size-656: 656px;
$static-size-664: 664px;
$static-size-672: 672px;
$static-size-680: 680px;
$static-size-688: 688px;
$static-size-696: 696px;
$static-size-704: 704px;
$static-size-712: 712px;
$static-size-720: 720px;
$static-size-728: 728px;
$static-size-736: 736px;
$static-size-744: 744px;
$static-size-752: 752px;
$static-size-760: 760px;
$static-size-768: 768px;
$static-size-776: 776px;
$static-size-784: 784px;
$static-size-792: 792px;
$static-size-800: 800px;
$static-size-808: 808px;
$static-size-816: 816px;
$static-size-824: 824px;
$static-size-832: 832px;
$static-size-840: 840px;
$static-size-848: 848px;
$static-size-856: 856px;
$static-size-864: 864px;
$static-size-872: 872px;
$static-size-880: 880px;
$static-size-888: 888px;
$static-size-896: 896px;
$static-size-904: 904px;
$static-size-912: 912px;
$static-size-920: 920px;
$static-size-928: 928px;
$static-size-936: 936px;
$static-size-944: 944px;
$static-size-952: 952px;
$static-size-960: 960px;
$static-size-968: 968px;
$static-size-976: 976px;
$static-size-984: 984px;
$static-size-992: 992px;
$static-size-1000: 1000px;
$static-size-1008: 1008px;
$static-size-1016: 1016px;
$static-size-1024: 1024px;
$static-size-1032: 1032px;
$static-size-1040: 1040px;
$static-size-1048: 1048px;
$static-size-1056: 1056px;
$static-size-1064: 1064px;
$static-size-1072: 1072px;
$static-size-1080: 1080px;
$static-size-1088: 1088px;
$static-size-1096: 1096px;
$static-size-1104: 1104px;
$static-size-1112: 1112px;
$static-size-1120: 1120px;
$static-size-1128: 1128px;
$static-size-1136: 1136px;
$static-size-1142: 1142px;

$relative-base-unit: 0.25rem;
$relative-size-8: calc($relative-base-unit * 2);
$relative-size-12: calc($relative-base-unit * 3);
$relative-size-14: calc($relative-base-unit * 3.5);
$relative-size-16: calc($relative-base-unit * 4);
$relative-size-18: calc($relative-base-unit * 4.5);
$relative-size-24: calc($relative-base-unit * 6);
$relative-size-32: calc($relative-base-unit * 8);
$relative-size-40: calc($relative-base-unit * 10);
$relative-size-48: calc($relative-base-unit * 12);
$relative-size-56: calc($relative-base-unit * 14);
$relative-size-60: calc($relative-base-unit * 15);
$relative-size-64: calc($relative-base-unit * 16);
$relative-size-72: calc($relative-base-unit * 18);
$relative-size-84: calc($relative-base-unit * 21);
