@use "../../styles/" as s;
@use "../../styles/theme" as t;

.container {
  display: flex;
  flex-direction: column;
  gap: s.$space-12;
  position: relative;
  width: 100%;
}

@mixin input {
  color: t.theme-get("color-dark-black");
  border: 1px solid t.theme-get("color-neutral-grey-20");
  border-radius: s.$border-radius-small;
  outline: none;
  padding: 1rem;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    box-shadow: inset 0 0 20px 20px t.theme-get("color-neutral-white");
  }

  &:focus {
    box-shadow: 0px 0px 2px 2px t.theme-get("color-neutral-grey-10");
  }

  &:disabled {
    background-color: t.theme-get("color-neutral-white");
    cursor: not-allowed;
    filter: brightness(0.95);
    opacity: 0.7;
    user-select: none;
  }

  &:required:focus:invalid {
    border: 1px solid t.theme-get("color-semantic-danger-red-50");
    box-shadow: 0px 0px 2px 2px t.theme-get("color-semantic-danger-red-10");
  }

  &:required:focus:valid {
    border: 1px solid t.theme-get("color-semantic-success-green-50");
  }

  &::placeholder {
    color: t.theme-get("color-neutral-grey-40");
    font-family: "Inter", sans-serif;
    font-size: s.$font-size-14;
    font-weight: s.$font-weight-regular;
  }
}

.input-default {
  @include input;
}

.input-underline {
  @include input();
  border: none;
  border-bottom: 1px solid t.theme-get("color-neutral-grey-20");
  border-radius: 0;
}

.helper-text {
  color: t.theme-get("color-neutral-grey-40");
  font-size: s.$font-size-12;
  font-weight: s.$font-weight-regular;
}

.label {
  color: t.theme-get("color-neutral-grey-60");
  font-size: s.$font-size-14;
  font-family: "Inter", sans-serif;
  font-weight: s.$font-weight-regular;
}
