@use "../../styles" as vars;

.container {
  align-items: center;
  display: flex;
  position: relative;

  & > span {
    align-items: center;
    background-color: vars.$color-dark-black;
    border-radius: 16px;
    color: vars.$color-neutral-white;
    content: "";
    font-size: vars.$font-size-body-small;
    display: flex;
    padding: 4px 8px;
    position: absolute;
    right: -8px;
    top: -4px;
  }
}
