@use "../../styles/theme" as t;
@use "../../styles" as s;

.button {
  background-color: t.theme-get("color-brand-primary");
  border: 0;
  color: t.theme-get("color-neutral-white");
  cursor: pointer;
  outline: none;
  padding: 16px 48px;
  -webkit-user-select: none;
  user-select: none;

  /****** States ******/
  /* Active (when a mouse or keyboard is pressing) */
  &:active {
    outline: solid 2px blue;
    outline-offset: 2px;
  }

  /* Focus */
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    text-decoration: underline;
    outline: solid 2px blue;
    outline-offset: 2px;
  }

  /* Disabled */
  &:disabled,
  &[disabled] {
    background-color: var(--color-neutral-400);
    border-color: transparent;
    color: #000;
    pointer-events: none;
  }
}

/****** Variants ******/
.button--primary {
  
}
.button--secondary {

}

.button__ghost {
  background: none;
  color: t.theme-get("color-brand-primary");
}
