@use "../../styles/theme" as t;
@use "../../styles" as s;

.button {
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 16px 48px;
  -webkit-user-select: none;
  user-select: none;

  /****** States ******/
  /* Active (when a mouse or keyboard is pressing) */
  &:active {
    outline: solid 2px blue;
    outline-offset: 2px;
  }

  /* Focus */
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    text-decoration: underline;
    outline: solid 2px blue;
    outline-offset: 2px;
  }

  /* Disabled */
  &:disabled,
  &[disabled] {
    background-color: var(--color-neutral-400);
    border-color: transparent;
    color: #000;
    pointer-events: none;
  }
}

/****** Variants ******/
.button--primary {
  background-color: t.theme-get("color-dark-black");
  color: t.theme-get("color-neutral-white");
}

.button--secondary {
  border: 1px solid t.theme-get("border-color-lighter");
  color: t.theme-get("color-dark-black");

  @include s.dark-mode {
    color: t.theme-get("color-dark-black-40");
  }
}

.button--ghost {
  background: none;
  color: t.theme-get("color-dark-black");
}

// Size
.button--small {
  font-size: 14px; // TODO: convert to rem in _variables.scss
  min-height: s.$space-40;
  padding: s.$space-8 s.$space-16;
}

.button--regular {
  font-size: s.$font-size-16;
  min-height: s.$space-48;
  padding: s.$space-8 s.$space-16;
}

.button--medium {
  font-size: s.$font-size-18;
  padding: s.$space-12 s.$space-16;
}

.button--large {
  font-size: s.$font-size-20;
  padding: s.$space-24 s.$space-16;
}

// State Enabled
// State Disabled
// State Focused
// State Pressed

// Type (Variant) Default
// Type (Variant) Ghost
// Type (Variant) Text
// Type (Variant) Link

// Color Type Primary
// Color Type Secondary
// Color Type Warning
// Color Type Success
// Color Type Error
// Color Type Info
