@use "../../styles/" as s;

.text {
  display: inline-flex;
}

.text__style--normal {
  font-style: normal;
}

.text__style--link {
  text-decoration: underline;
}

.text__style--upper {
  text-transform: uppercase;
}

.body-large-regular {
  @include s.bodyLargeRegular
}

.body-regular-regular {
  @include s.bodyRegularRegular;
}

.body-medium-regular {
  @include s.bodyMediumRegular;
}

.body-small-regular {
  @include s.bodyRegularRegular;
}