@use "../../styles/" as s;

.text__style--normal {
  font-style: normal;
}

.text__style--link {
  text-decoration: underline;
}

.text__style--upper {
  text-transform: uppercase;
}

@mixin bodyLargeRegular {
  font-size: s.$font-size-large;
  font-weight: s.$font-weight-bold;
}

.body-large-regular {
  @include bodyLargeRegular();
}
