@use "../../styles" as s;
@use "../../styles/theme" as t;

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.input {
  background: none;
  border: none;
  border-bottom: 1px solid t.theme-get("color-neutral-grey-20");
  color: t.theme-get("color-neutral-grey-50");
  outline: none;
  padding-bottom: 8px;
  width: 100%;

  @include s.bodyRegularRegular();

  &::placeholder {
    color: t.theme-get("color-neutral-grey-20");
    font-family: "Inter", sans-serif;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: s.$space-32;
}

.button-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  & > button {
    width: 100%;
  }
  @include s.screen-min("sm") {
    justify-content: space-between;

    & > button {
      width: fit-content;
    }
  }
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include s.screen-min("sm") {
    margin-top: s.$space-64;
  }
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: s.$space-32;
  justify-content: flex-start;
  max-width: 532px;
  padding: s.$space-40 s.$space-32;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: s.$space-14;

  @include s.screen-min("sm") {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.hr {
  background-color: t.theme-get("color-neutral-grey-60");
  width: 100%;
}