@use "../" as s;

.font-bold {
  font-weight: s.$font-weight-bold;
}

.select-none {
  user-select: none;
}

.touchable {
  cursor: pointer;
}

.gap-8 {
  gap: s.$space-8;
}

.gap-40 {
  gap: s.$space-40;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-full {
  width: 100%;
}
