$color-brand-primary: #db4444;
$color-dark-black: #212121;
$color-neutral-white: #ffffff;
$color-neutral-grey-10: #f1f1f1;
$color-neutral-grey-20: #e2e3e6;
$color-neutral-grey-30: #c3c8cc;
$color-neutral-grey-40: #a9aeb2;
$color-neutral-grey-50: #90949a;
$color-neutral-grey-60: #707378;
$color-semantic-informative-blue-10: #cff0fe;
$color-semantic-informative-blue-50: #1185f9;
$color-semantic-warning-yellow-10: #fef7cd;
$color-semantic-warning-yellow-50: #fcbf07;
$color-semantic-danger-red-10: #ffe9e0;
$color-semantic-danger-red-50: #ff6872;
$color-semantic-success-green-10: #f2fccf;
$color-semantic-success-green-50: #8ac916;
$color-other-aquamarine-50: #cbe4e8;
// MINI - SMALL - MEDIUM - REGULAR - LARGE
$font-size-heading-display: 96px;
$font-size-heading-large: 72px;
$font-size-heading-regular: 64px;
$font-size-heading-medium: 40px;
$font-size-heading-small: 32px;
$font-size-heading-mini: 24px;
$font-size-body-large: 18px;
$font-size-body-regular: 16px;
$font-size-body-medium: 14px;
$font-size-body-small: 12px;
$font-size-body-mini: 10px;
$font-weight-lighter: 100;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

@mixin bodyRegularRegular {
  font-size: $font-size-body-regular;
  font-weight: $font-weight-regular;
}

@mixin bodyLargeRegular {
  font-size: $font-size-body-large;
  font-weight: $font-weight-bold;
}
