$base-unit: 0.25rem;
$base-half-unit: calc($base-unit / 2);

// Neutral Colors
$color-neutral-grey-10: #f1f1f1;
$color-neutral-grey-20: #e2e3e6;
$color-neutral-grey-30: #c3c8cc;
$color-neutral-grey-40: #a9aeb2;
$color-neutral-grey-50: #90949a;
$color-neutral-grey-60: #707378;

// Border Colors
$border-color-lighter: $color-neutral-grey-20;
$border-color-light: $color-neutral-grey-30;
$border-color-dark: $color-neutral-grey-50;
$border-color-darker: $color-neutral-grey-60;

// Border Radius Sizes
$border-radius-none: 0px;
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 14px;
$border-radius-xl: 16px;
$border-radius-2xl: 18px;
$border-radius-3xl: 24px;
$border-radius-4xl: 32px;
$border-radius-huge: 128px;

$color-brand-blue: #2d5bff;
$color-brand-green: #4fbe28;
$color-brand-orange: #fe6645;
$color-brand-purple: #933fff;
$color-dark-black: #212121;
$color-dark-black-40: #29303d;
$color-neutral-white: #ffffff;

$color-semantic-informative-blue-10: #cff0fe;
$color-semantic-informative-blue-50: #1185f9;
$color-semantic-warning-yellow-10: #fef7cd;
$color-semantic-warning-yellow-50: #fcbf07;
$color-semantic-danger-red-10: #ffe9e0;
$color-semantic-danger-red-50: #ff6872;
$color-semantic-success-green-10: #f2fccf;
$color-semantic-success-green-50: #8ac916;

$font-family-primary: sans-serif;
$font-family-secondary: serif;
$font-base-unit: $base-unit;

$font-size-12: calc($font-base-unit) * 3;
$font-size-14: 14px;
$font-size-16: calc($font-base-unit) * 4;
$font-size-18: 1.125rem;
$font-size-20: calc($font-base-unit) * 5;
$font-size-24: calc($font-base-unit) * 6;
$font-size-40: calc($font-base-unit) * 10;
$font-size-48: calc($font-base-unit) * 12;
$font-size-64: calc($font-base-unit) * 16;

$font-size-heading-display: 96px;
$font-size-heading-large: 72px;
$font-size-heading-regular: $font-size-64;
$font-size-heading-medium: $font-size-40;
$font-size-heading-small: 32px;
$font-size-heading-mini: $font-size-24;
$font-size-body-large: 18px;
$font-size-body-regular: $font-size-16;
$font-size-body-medium: 14px;
$font-size-body-small: $font-size-12;
$font-size-body-mini: 10px;

$font-weight-lighter: 100;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$line-height-base-unit: 1;
$line-height-small: calc($line-height-base-unit) * 1.1;
$line-height-medium: calc($line-height-base-unit) * 1.3;
$line-height-large: calc($line-height-base-unit) * 1.5;

$static-size-8: 8px;
$static-size-12: 12px;
$static-size-14: 14px;
$static-size-16: 16px;
$static-size-18: 18px;
$static-size-24: 24px;
$static-size-32: 32px;
$static-size-40: 40px;
$static-size-48: 48px;
$static-size-56: 56px;
$static-size-64: 64px;

$relative-base-unit: 0.25rem;

$relative-8: calc($relative-base-unit * 2);
$relative-12: calc($relative-base-unit * 3);
$relative-14: calc($relative-base-unit * 3.5);
$relative-16: calc($relative-base-unit * 4);
$relative-18: calc($relative-base-unit * 4.5);
$relative-24: calc($relative-base-unit * 6);
$relative-32: calc($relative-base-unit * 8);
$relative-40: calc($relative-base-unit * 10);
$relative-48: calc($relative-base-unit * 12);
$relative-56: calc($relative-base-unit * 14);
$relative-64: calc($relative-base-unit * 16);

$space-8: calc(relative-base-unit * 2);
$space-12: calc(relative-base-unit * 3);
$space-14: calc(relative-base-unit * 3.5);
$space-16: calc(relative-base-unit * 4);
$space-18: calc(relative-base-unit * 4.5);
$space-24: calc(relative-base-unit * 6);
$space-32: calc(relative-base-unit * 8);
$space-40: calc(relative-base-unit * 10);
$space-48: calc(relative-base-unit * 12);
$space-56: calc(relative-base-unit * 14);
$space-64: calc(relative-base-unit * 16);

$transition-faster: 0.1s;
$transition-fast: 0.2s;
$transition-normal: 0.3s;
$transition-slow: 0.4s;
$transition-slower: 0.5s;
