$static-size-8: 8px;
$static-size-12: 12px;
$static-size-14: 14px;
$static-size-16: 16px;
$static-size-18: 18px;
$static-size-24: 24px;
$static-size-32: 32px;
$static-size-40: 40px;
$static-size-48: 48px;
$static-size-56: 56px;
$static-size-60: 60px;
$static-size-64: 64px;
$static-size-72: 72px;
$static-size-84: 84px;

$relative-base-unit: 0.25rem;
$relative-size-8: calc($relative-base-unit * 2);
$relative-size-12: calc($relative-base-unit * 3);
$relative-size-14: calc($relative-base-unit * 3.5);
$relative-size-16: calc($relative-base-unit * 4);
$relative-size-18: calc($relative-base-unit * 4.5);
$relative-size-24: calc($relative-base-unit * 6);
$relative-size-32: calc($relative-base-unit * 8);
$relative-size-40: calc($relative-base-unit * 10);
$relative-size-48: calc($relative-base-unit * 12);
$relative-size-56: calc($relative-base-unit * 14);
$relative-size-60: calc($relative-base-unit * 15);
$relative-size-64: calc($relative-base-unit * 16);
$relative-size-72: calc($relative-base-unit * 18);
$relative-size-84: calc($relative-base-unit * 21);
