@use "../../styles/" as s;
@use "../../styles/theme" as t;

.container {
  align-items: center;
  display: flex;
  cursor: pointer;
  gap: s.$space-8;
  width: fit-content;

  &:disabled {
    cursor: not-allowed;
    user-select: none;
  }
}

.input {
  border: 2px solid #000;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  height: 20px;
  line-height: 0;
  margin: 0 0.6em 0 0;
  opacity: 0.5;
  outline: 0;
  padding: 0 !important;
  position: relative;
  vertical-align: text-top;
  -webkit-appearance: none;
  width: 20px;

  &:hover {
    opacity: 1;
  }

  &:checked {
    background-color: t.theme-get("color-dark-black");
    opacity: 1;
  }

  &:disabled {
    background-color: t.theme-get("color-neutral-white");
    border: 2px solid t.theme-get("color-neutral-grey-20");
    cursor: not-allowed;
    filter: brightness(0.95);
    opacity: 0.7;
    user-select: none;
  }

  &::before {
    content: "";
    border: solid #fff;
    border-width: 0 2px 2px 0;
    height: 10px;
    margin: -1px -1px 0 -1px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 4px;
    z-index: 2;
  }
}

.size-small {
  height: 20px;
  width: 20px;
}

.size-regular {
  height: 24px;
  width: 24px;
}

.label--disabled {
  color: t.theme-get("color-neutral-grey-30");
  cursor: not-allowed;
  filter: brightness(0.95);
  opacity: 0.7;
  user-select: none;
}
