// .w-px {
//   width: 1px;
// }

// .w-0_5 {
//   width: 0.125rem; /* 2px */
// }

// @mixin size($className) {
//   @if $className == "size-full" {
//     width: 100px;
//   }
// }

// $sizings: (
//   full: 100%,
// );

// @mixin width($value) {
//   width: map-get($map: $sizings, $key: $value);
// }

// .w-1 {
//   width: 0.25rem; /* 4px */
// }

// .w-full {
//   width: 100%;
// }

// .w-screen {
//   width: 100vw;
// }

// .w-120px {
//   width: 120px;
// }

// .w-svw {
//   width: 100svw;
// }

// MyComponent.module.scss

// Funcionando
// $size-classes: (size-full);

// @mixin size($className) {
//   @if $className == "size-full" {
//     width: 100px;
//   }
// }

// @each $className in $size-classes {
//   .#{$className} {
//     @include size($className);
//   }
// }


$size-classes: (
  w-full: 100%,
  w-fx-120: 120px,
);

@mixin size($className) {
  width: map-get($map: $size-classes, $key: $className);
}

@each $className, $value in $size-classes {
  .#{$className} {
    @include size($className);
  }
}