.w-px {
  width: 1px;
}

.w-0_5 {
  width: 0.125rem; /* 2px */
}

.w-1 {
  width: 0.25rem; /* 4px */
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-120px {
  width: 120px;
}

.w-svw {
  width: 100svw;
}
