$size-classes: (
  w-full: 100%,
  w-fx-120: 120px,
);

@mixin size($className) {
  width: map-get($map: $size-classes, $key: $className);
}

@each $className, $value in $size-classes {
  .#{$className} {
    @include size($className);
  }
}