@use "../../styles" as styles;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;
  max-width: 312px;
  width: 100%;

  transition: all .2s ease-in-out;

  &:hover {
    border-radius: 24px;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.image_container {
  border-radius: 24px;
  position: relative;
  
  & > img {
    border-radius: 24px;
    image-rendering: auto;
    object-fit: cover;
    width: 100%;
  }
}

.image_container--tag {
  background-color: styles.$color-neutral-white;
  border-radius: 24px;
  padding: 12px 16px;
  position: absolute;
  top: 24px;
  left: 24px;

  & > span {
    font-size: styles.$font-size-small;
  }
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 8px;

   & > h3 {
    color: #212121;
   }
}

.card-wrapper {}
.card-img {}