@use "../../styles" as styles;
@use "../../styles/theme" as t;

// Container
.product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 350px;
  position: relative;
  width: 270px;
}

// Product Image
.product-image--container {
  border-radius: 4px;
  background-color: styles.$color-neutral-grey-10;
  height: 100%;
  max-height: 250px;
  position: relative;
  width: 100%;
}

.product-image--content {
  height: 100%;
  object-fit: contain;
  padding: 16px 40px;
  width: 100%;
}

// Product Image
//// Product Image - Add To Cart
.product-image--add-to-cart {
  align-items: center;
  background-color: t.theme-get("color-dark-black");
  bottom: -10px;
  color: styles.$color-neutral-grey-10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 12px;
  pointer-events: none;
  position: absolute;
  transition:
    opacity 0.3s ease,
    bottom 0.3s ease;
  width: 100%;
  & > span {
    font-size: styles.$font-size-medium;
  }
}

// Product Image
//// Action Group
.product-image--action-group {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  opacity: 0;
  padding: 12px;
  // Sem essa parte do codigo, com o mouse em cima, temos um bug no estilo
  pointer-events: none;
  position: absolute;
  right: -10px;
  transition:
    opacity 0.3s ease,
    right 0.3s ease;
  top: 0;
}

// Product Image
//// Action Group
////// Icon
.product-image--action-group--icon {
  align-items: center;
  background-color: styles.$color-neutral-white;
  border-radius: 50%;
  display: flex;
  height: 34px;
  justify-content: center;
  position: relative;
  width: 34px;

  &:hover {
    background-color: styles.$color-neutral-grey-20;
    cursor: pointer;
  }

  & > svg {
    position: absolute;
  }
}

.product-image--container:hover {
  .product-image--action-group {
    opacity: 1;
    pointer-events: all;
    right: 0;
  }
  .product-image--add-to-cart {
    bottom: 0;
    pointer-events: all;
    opacity: 1;
  }
}

// Product Image
//// Tag
.product-image--tag {
  background-color: t.theme-get("color-semantic-success-green-50");
  color: t.theme-get("color-semantic-success-green-10");
  cursor: default;
  border-radius: 4px;
  font-size: styles.$font-size-small;
  margin: 12px;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  left: 0;
}

// Product Infos
.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

// TODO: refact to use Text component
.product-info--title {
  color: t.theme-get("color-dark-black");
  font-size: styles.$font-size-regular;
  font-weight: styles.$font-weight-medium;
}

.product-info--price--container {
  display: flex;
  gap: 12px;
}

.product-info--price {
  color: t.theme-get("color-brand-primary");
  font-size: styles.$font-size-regular;
  font-weight: styles.$font-weight-medium;
}

.product-info--discounted {
  color: t.theme-get("color-neutral-grey-30");
  font-size: styles.$font-size-regular;
  font-weight: styles.$font-weight-regular;
  text-decoration: line-through;
}
