@use "../../styles" as styles;

.product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 350px;
  position: relative;
  width: 270px;
}

.product-image--container {
  border-radius: 4px;
  background-color: styles.$color-neutral-grey-10;
  height: 100%;
  max-height: 250px;
  position: relative;
  width: 100%;
}

.product-image--content {
  height: 100%;
  object-fit: contain;
  padding: 16px 40px;
  width: 100%;
}

.product-image--add-to-cart {
  align-items: center;
  background-color: styles.$color-neutral-grey-60;
  bottom: -10px;
  color: styles.$color-neutral-grey-10;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 12px;
  position: absolute;
  transition: opacity 0.3s ease, bottom 0.3s ease;
  width: 100%;
}

.product-image--action-group {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  opacity: 0;
  padding: 12px;
  position: absolute;
  right: -10px;
  transition: opacity 0.3s ease, right 0.3s ease;
  top: 0;
}

.product-image--action-group--icon {
  align-items: center;
  background-color: styles.$color-neutral-white;
  border-radius: 50%;
  display: flex;
  height: 34px;
  justify-content: center;
  position: relative;
  width: 34px;

  & > svg {
    position: absolute;
  }
}

.product-image--container:hover {
  .product-image--action-group {
    opacity: 1;
    right: 0;
  }
  .product-image--add-to-cart {
    bottom: 0;
    opacity: 1;
  }
}

.wrapper--add-cart {
  background-color: styles.$color-neutral-grey-60;
  color: styles.$color-neutral-white;
  width: 100%;
}

.image_container {
  border-radius: 24px;
  position: relative;
  
  & > img {
    border-radius: 24px;
    image-rendering: auto;
    object-fit: cover;
    width: 100%;
  }
}

.image_container--tag {
  background-color: styles.$color-neutral-white;
  border-radius: 24px;
  padding: 12px 16px;
  position: absolute;
  top: 24px;
  left: 24px;

  & > span {
    font-size: styles.$font-size-small;
  }
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 8px;

   & > h3 {
    color: #212121;
   }
}

.card-wrapper {}
.card-img {}

.product-review--container {
  display: flex;
  gap: 8px;
}