@use "../../../../styles" as vars;
@use "../../../../styles/theme" as t;

.container {
  align-items: center;
  border-bottom: 1px solid t.theme-get("color-neutral-grey-20");
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  padding: 40px 96px 16px;
  position: sticky;
}

.content-left {
  align-items: center;
  display: flex;
  gap: 190px;
  justify-content: space-between;
}

.content-right {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.action-group--icons {
  display: flex;
  gap: 16px;

  :hover {
    cursor: pointer;
  }
}
