@use "../../../../styles" as s;
@use "../../../../styles/theme" as t;

.container {
  align-items: center;
  border-bottom: 1px solid t.theme-get("color-neutral-grey-20");
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  padding: s.$space-16;
  position: sticky;

  @include s.screen-min("sm") {
    padding: s.$space-18 112px;
  }
}

.content-left {
  align-items: center;
  display: flex;
  gap: s.$space-48;
  justify-content: space-between;
}

.content-right {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.action-group--icons {
  display: flex;
  gap: 16px;

  :hover {
    cursor: pointer;
  }
}

.category-button {
  align-items: center;
  background-color: t.theme-get("color-dark-black");
  cursor: pointer;
  border-radius: s.$border-radius-medium;
  display: flex;
  gap: s.$space-12;
  justify-content: center;
  padding: s.$space-12 s.$space-14;
  user-select: none;

  & > p {
    color: t.theme-get("color-neutral-white");
  }
}

.logo {
  width: 84px;

  @include s.screen-min("sm") {
    width: 124px;
  }
}
