@use "../../styles/theme" as theme;

.pre {
  background-color: blue;
  padding: 96px 196px;
  // consumindo diretamente do tema
  color: theme.theme-get("color-neutral-white");

  @include theme.dark-mode {
    color: theme.theme-get("color-semantic-informative-blue-50");
    background-color: red;
  }
}

// @use "../styles/_mixings";
// @use "../styles/_variables";
// @use "../styles/_theme";

// .text {
//   color: red;

//   @include screen-min(sm) {
//     color: blue;
//   }
// }

// @include dark-mode {
//   .text {
//     color: #730a0ad0;

//     @include screen-min(sm) {
//       color: #050568;
//     }
//   }
// }
