@use "../../styles" as vars;

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  padding: 40px 96px;
  position: sticky;
}

.content-left {
  align-items: center;
  display: flex;
  gap: 190px;
  justify-content: space-between;
}

.content-right {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.action-group--icons {
  display: flex;
  gap: 16px;

  :hover {
    cursor: pointer;
  }
}
